body {
     margin: 0, auto;
     background-color: #ffffff;
     color: antiquewhite;
     color: #262626;
     font-family: Lemon_milk;
}

@font-face {
     font-family: Lemon_milk;
     src: url(fonts/lemon_milk/LemonMilk.otf);
}

.grid-container {
     display: grid;
     grid-auto-rows: auto;
     grid-template-columns: auto auto;
}

.grid-item {
     padding: 20px;
     font-size: 10px;
     border-style: solid;
     border-color: darkred;
     height: 100px;

}

.grid-item.header {
     grid-column-end: span 2;
     background-color: whitesmoke;
     justify-self: center;
     align-self: center;
     height: auto;
}

.grid-item button {
     background-color: deeppink;
}

.grid-item.fill {
     width: 100px;
     height: 80px;
     grid-column-start: 1;
     grid-column-end: 3;

}

.button {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     cursor: pointer;
     border: none;
     padding: 0;
     margin: 0;
}

.button img {
     border-radius: 50%;
}
